.master-container {
    position: absolute;
    margin:20px;
    background-color: rgb(240,240,240);
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    top:40px;
    left: 0px;

    .main-axis {
        stroke: 1px dashed rgb(44, 42, 42);
    }
    
}
